{% extends 'base.html' %}
{% block content %}
    {% for blog in posts %}
        <div class="card" style="width: 70rem;">
            <div class="card-body">
                <h5 id = no class="card-title">{{ blog.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{blog.time}}</h6>
                <p id = dog class="card-text">{{ blog.summary}} </p>
                <a id = dog href="{% url 'detail' blog.id %}" class="card-link">...more</a>
                <p id = dog class="card-text">{{ blog.name}}가 씀 </p>
            </div>
        </div>
    {% endfor %}
    
    <div class = container>
        {% if posts.has_previous %}
            <a href="?page1">First</a>
            <a href="?page={{posts.previous_page_number}}">previous</a> 
        {% endif %}
        
        <span>{{posts.number}}</span>
        <span>of</span>
        <span>{{posts.paginator.num_page}}</span>

         {% if posts.has_next %}
            <a href="?page={{posts.next_page_number}}">next</a>
            <a href="?page={{posts.paginator.num_page}}">Last</a>
        {%endif%}   
    </div>

{% endblock %}
